.Home {
  width: 100%;
  height: 100vh;
  display: flex;
}
/* LEFT SIDE */
.leftSideFromHome {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 20px;
}
.leftSideFromHomeChildren {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.iconosFullStack {
  margin: 10px;
  justify-content: space-evenly;
  display: inline-flex;
  width: initial;
}
.iconoFull {
  height: fit-content;
  width: 10%;
}
/* RIGHT SIDE */
.rightSideFromHome {
  width: 40%;
  align-self: center;
}
.rightSideFromHomeChild {
  padding-left: 20%;
  padding-right: 20%;
}
.rightSideFromHomeChildChild {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgpefil {
  border-radius: 50%;
  background-color: #2caefff1;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 450px) {
    .Home {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    .leftSideFromHome{
        margin-left: 0;
    }
  }